__pycache__/
*.py[cod]

# Base de données locale
*.sqlite3

# Fichiers de sauvegarde et erreurs
*.sauvegarde*
*.save*
*.erreur*

# Environnement Python
.venv/
venv/

# Variables secrètes
.env

# Fichiers générés
media/
staticfiles/
panier/admin.py.avant_envoi
